# Android / Gradle
.gradle/
build/
**/build/
local.properties
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# Keystore (garder le .b64 pour CI, ignorer le binaire)
*.keystore

# Crashlogs JVM
hs_err_pid*.log
replay_pid*.log

# OS
.DS_Store
Thumbs.db
